<ion-view view-title="Camera">
  <ion-content class="padding">
    <ion-list class="teacher-complaint-list">
      <ion-item class="item-remove-animate item-avatar" type="item-text-wrap" ng-repeat="video in videos">
        <video controls='controls' height="200px" width="100%">
          <source src="{{video.fullPath}}" type="video/mp4">
        </video>
        <h3>{{video.name}}</h3>
        <h3>{{video.date | date: 'dd-MM-yyyy'}}</h3>
        <h3>{{video.length}} MB</h3>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>